.rowsp {
    margin-top: 13px;
}

.alignR {
    text-align: right;
}

.alignL {
    text-align: left;
}

.borderRoxa {
    border: 3px solid rgb(35, 6, 70);
}

.borderOuro {
    border: 3px solid gold;
}

.paddings-bloco {
    padding-bottom: 10px;
    padding-top: 10px;
}

.border-right {
    border-right: 3px solid rgb(35, 6, 70);
}

.border-bottom {
    border-bottom: 3px solid rgb(35, 6, 70);
}

.no-margin {
    margin-top: 0px;
}

.fonte-btn {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.btn-circle.btn-xl {
    width: 90px;
    height: 90px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}