.rowsp {
    margin-top: 13px;
}

#p2Pts {
    text-align: right;
}

#p2 {
    text-align: right;
}

label {
    font-family: Franklin Gothic Medium, Franklin Gothic, ITC Fran
}

input {
    font-family: Franklin Gothic Medium, Franklin Gothic, ITC Fran
}

.fonte {
    font-family: Franklin Gothic Medium, Franklin Gothic, ITC Fran
}

.paddings-bloco {
    padding-bottom: 10px;
    padding-top: 10px;
}

.border-right {
    border-right: 5px black solid;
}

.border-bottom {
    border-bottom: 5px black solid;
}

.no-margin {
    margin-top: 0px;
}

.fonte-btn {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}