<div>
    <div class="row rowsp">

        <div class="col-2 alignR text-secondary">
            <label for="p1">P1-O</label>
        </div>
        <div class="col-4">
            <input type="text" readonly="true" class="p-3 mb-2 bg-dark text-white form-control borderRoxa backCinza" id="p1" value={{validacao.player1}}>
        </div>

        <div class="col-4">
            <input type="text" readonly="true" class="p-3 mb-2 bg-dark text-white form-control alignR borderRoxa" value={{validacao.player2}} id="p2">
        </div>
        <div class="col-2 alignL text-secondary">
            <label for="p2">P2-X</label>
        </div>

    </div>


    <div class="row rowsp">
        <div class="col-1"></div>
        <div class="col-1">
            <label for="p1Pts"></label>
        </div>
        <div class="col-3 col-md-2">
            <input type="text" readonly="true" [class]="validacao.ganhando1()" value={{validacao.pontoPlayer1}} id="p1Pts ">
        </div>
        <div class="col-2 col-md-4 ">

        </div>

        <div class="col-3 col-md-2">
            <input type="text " readonly="true " [class]="validacao.ganhando2()" value={{validacao.pontoPlayer2}}>
        </div>
        <div class="col-1 ">
            <label for="p2Pts "></label>
        </div>
        <div class="col-1 ">
        </div>
    </div>
    <div class="row rowsp "></div>
    <div class="row rowsp "></div>

    <div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="paddings-bloco no-margin fonte-btn container">
        <div class="row">
            <div class="col-3 ">
            </div>

            <div class="col-2  border-bottomC border-rightC  ">
                <button [disabled]="marcarReadonly[0] " (click)="marcaJogada(0) " type="button " [class]="corBotao[0] ">{{jogada[0]}}</button>
            </div>
            <div class="col-2  border-bottomC border-rightC ">
                <button [disabled]="marcarReadonly[1] " (click)="marcaJogada(1) " type="button " [class]="corBotao[1] ">{{jogada[1]}}</button>
            </div>
            <div class="col-2  border-bottomC ">
                <button [disabled]="marcarReadonly[2] " (click)="marcaJogada(2) " type="button " [class]="corBotao[2] ">{{jogada[2]}}</button>
            </div>
            <div class="col-3  ">

            </div>
        </div>

        <div class="row ">
            <div class="col-3  ">
            </div>
            
            <div class="col-2  border-bottomC border-rightC ">
                <button [disabled]="marcarReadonly[3] " (click)="marcaJogada(3) " type="button " [class]="corBotao[3] ">{{jogada[3]}}</button>
            </div>
            <div class="col-2 border-bottomC border-rightC ">
                <button [disabled]="marcarReadonly[4] " (click)="marcaJogada(4) " type="button " [class]="corBotao[4] ">{{jogada[4]}}</button>
            </div>
            <div class="col-2  border-bottomC ">
                <button [disabled]="marcarReadonly[5] " (click)="marcaJogada(5) " type="button " [class]="corBotao[5] ">{{jogada[5]}}</button>
            </div>
            <div class="col-3  ">

            </div>
        </div>

        <div class="row ">
            <div class="col-3 ">
            </div>

            <div class="col-2  border-rightC ">
                <button [disabled]="marcarReadonly[6] " (click)="marcaJogada(6) " type="button " [class]="corBotao[6] ">{{jogada[6]}}</button>
            </div>
            <div class=" col-2  border-rightC ">
                <button [disabled]=" marcarReadonly[7] " (click)="marcaJogada(7) " type="button " [class]="corBotao[7] ">{{jogada[7]}}</button>
            </div>
            <div class="col-2 ">
                <button [disabled]="marcarReadonly[8] " (click)="marcaJogada(8) " type="button " [class]="corBotao[8] ">{{jogada[8]}}</button>
            </div>
            <div class="col-3  ">

            </div>
        </div>
         </div>
<div class="col-md-4"></div>
    </div>
    </div>
    <div class="row rowsp "></div>
    <div class="row rowsp "></div>
    <div class="row rowsp  ">
        <div class="col-1 ">
        </div>
        <div class="col-3 ">
            <button (click)="restart(false) " type="button " class="btn btn-dark  btn-circle btn-xl text-warning btn-block borderRoxa">Clear</button>
        </div>
        <div class="col-4 "></div>
        <div class="col-3 d-flex align-items-end flex-column">
            <button (click)="restart(true) " type="button " class="btn btn-dark btn-circle btn-xl text-danger btn-block borderRoxa">Reset</button>
        </div>
        <div class="col-1 "></div>

    </div>

</div>
<div class="row rowsp "></div>
<div class="row rowsp "></div>