<div id="modal-c">
    <div class="modal-header">
        <h4 class="modal-title">Outra Partida ou Reiniciar Rodada?</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
    </div>
    <div class="modal-body">
        <div *ngIf="validacao.Empate">
            Deu Velha!!!
        </div>
        <div *ngIf="!validacao.Empate">
            {{validacao.Vencedor}} é o vencedor desta partida!
        </div>

    </div>

    <div class="modal-footer">
       <div class="col-3  "></div>
       
        <div class="col-6 ">
            <button (click)="restart(false)" type="button" class="btn btn-warning btn-lg btn-block">+ Uma</button>
        </div>

        <div class="col-3  ">
        </div>

    </div>
</div>