 body {
     font-family: Franklin Gothic Medium, Franklin Gothic, ITC Fran;
     line-height: 1.75em;
     font-size: 16px;
     background-color: rgba(0, 0, 0, 0.950);
     margin: 0 0 100px;
     /* bottom = footer height */
 }
 
 html {
     position: relative;
     min-height: 100%;
 }
 
 footer {
     font-family: Franklin Gothic Medium, Franklin Gothic, ITC Fran;
     font-size: 12px;
 }
 
 .tit {
     border-bottom: 3px solid rgb(35, 6, 70);
     border-top: 3px solid rgb(35, 6, 70);
 }
 
 label {
     color: rgb(148, 148, 219);
     border-bottom: 3px solid rgb(35, 6, 70);
     border-top: 3px solid rgb(35, 6, 70);
 }
 
 input[type=text] {
     color: rgb(148, 148, 219);
     background-color: rgba(15, 3, 29, 0.904)!important;
 }
 
 .alignR {
     text-align: right;
 }
 
 .alignL {
     text-align: left;
 }
 
 .rowsp {
     margin-top: 13px;
 }
 
 .border-danger {
     border: 3px solid red;
 }
 
 .borderRoxa {
     border: 3px solid rgb(139, 68, 197);
 }
 
 .borderRoxaTeclado {
     border: 1px solid rgb(142, 50, 255);
 }
 
 .borderOuro {
     border: 3px solid gold;
 }
 
 .backCinza {
     background: rgb(51, 50, 50);
     color: backCinza;
 }
 
 .border-rightC {
     border-right: 3px solid rgb(139, 68, 197);
 }
 
 .border-bottomC {
     border-bottom: 3px solid rgb(139, 68, 197);
 }
 
 .paddings-bloco {
     padding-bottom: 5px;
     padding-top: 5px;
 }
 
 .no-margin {
     margin-top: 1px;
 }
 
 .fonte-btn {
     font-family: "Comic Sans MS", "Comic Sans", cursive;
 }
 
 .btn-circle.btn-xl {
     width: 81px;
     height: 81px;
     padding: 10px 16px;
     font-size: 21px;
     line-height: 1.33;
     border-radius: 45px;
     text-align: center;
 }
 
 .btn-circle.btn-lg {
     width: 50px;
     height: 50px;
     padding: 10px 16px;
     font-size: 18px;
     line-height: 1.33;
     border-radius: 25px;
     text-align: center;
 }
 
 h3 {
     font-size: 20px;
     line-height: 27px;
     padding-top: 15px;
     text-align: center;
     padding-bottom: 15px;
     border-bottom: 5px solid rgb(56, 20, 100);
     border-top: 5px solid rgb(56, 20, 100);
 }
 
 h2 {
     font-size: 30px;
     line-height: 27px;
     padding-top: 15px;
     text-align: center;
     padding-bottom: 15px;
     border-bottom: 5px solid rgb(56, 20, 100);
     border-top: 5px solid rgb(56, 20, 100);
 }
 

 a[href] {
     color: rgb(165, 165, 238);
 }
 
 a[href]:hover {
     color: rgb(81, 81, 155);
 }
 
 .textoL {
     color: rgb(148, 148, 219);
 }
 
 .btn-color-clear {
     /* flex para alinhar conteúdo*/
     display: flex;
     justify-content: center;
     align-items: center;
     color: rgba(255, 217, 0, 0.993);
     background-color: rgba(24, 23, 23, 0.616);
 }
 
 .btn-color-Reset {
     /* flex para alinhar conteúdo*/
     display: flex;
     justify-content: center;
     align-items: center;
     color: red;
     background-color: rgba(24, 23, 23, 0.616);
 }
 
 .btn-color-teclado {
     vertical-align: middle;
     color: rgba(24, 23, 23, 0.616);
     background-color: rgba(24, 23, 23, 0.616);
 }
 
 .btn-color-teclado-marcado {
     /* flex para alinhar conteúdo*/
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
     color: rgb(0, 255, 255);
     background-color: rgba(24, 23, 23, 0.616);
 }
 
 .btn-color-teclado:hover {
     /* flex para alinhar conteúdo*/
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
     color: rgb(0, 255, 255);
     background-color: rgba(24, 23, 23, 0.616);
 }
 
 .btn-color-teclado:focus {
     /* flex para alinhar conteúdo*/
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
     color: rgb(0, 255, 255);
     background-color: rgba(24, 23, 23, 0.616);
 }
 
 .btn-color-teclado-marcado:hover {
     /* flex para alinhar conteúdo*/
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
     color: rgb(0, 255, 255);
     background-color: rgba(24, 23, 23, 0.616);
 }
 
 .btn-color-teclado-marcado:focus {
     /* flex para alinhar conteúdo*/
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
     color: rgb(0, 255, 255);
     background-color: rgba(24, 23, 23, 0.616);
 }
 
 .color-input {
     color: rgb(175, 96, 161);
     background-color: rgba(24, 23, 23, 0.616);
 }
 
 .jogada-vencedora {
    display: flex;
     justify-content: center;
     align-items: center;
     font-weight: bold;
     color: rgb(56, 20, 100);
     background-color: gold;
 }
 
 .img-trofL {
     flex-direction: column;
     justify-content: center;
 }
 
 .img-trofR {
     flex-direction: column;
     justify-content: center;
 }