.tit{
  color:  rgb(17, 17, 17);
  border-bottom: 3px solid rgb(35, 6, 70);
  border-top: 3px solid rgb(35, 6, 70);

}

 body {
     font-family: Franklin Gothic Medium, Franklin Gothic, ITC Fran;
     line-height: 1.75em;
     font-size: 16px;
     background-color: rgba(0, 0, 0, 0.950);
 }
 
 .border-danger {
     border: 3px solid red;
 }
 
.rowsp {
    margin-top: 13px;
}

.alignR {
    text-align: right;
}

.alignL {
    text-align: left;
}

.borderRoxa {
    border: 3px solid rgb(35, 6, 70);
}
.backCinza {
     background:rgb(51, 50, 50)   ;
     color: backCinza;
}

.borderOuro {
    border: 3px solid gold;
}

.paddings-bloco {
    padding-bottom: 5px;
    padding-top: 5px;
}

.border-rightC {
    border-right: 3px solid rgb(72, 34, 126);
}

.border-bottomC {
    border-bottom: 3px solid rgb(72, 34, 126);
}

.no-margin {
    margin-top: 0px;
}

.fonte-btn {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.btn-circle.btn-xl {
    width: 90px;
    height: 90px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50px;
    text-align: center;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
    text-align: center;
}


 h3 {
     font-size: 18px;
     line-height: 27px;
     padding-top: 15px;
     text-align: center;
     padding-bottom: 15px;
     border-bottom: 5px solid rgb(35, 6, 70);
     border-top: 5px solid rgb(35, 6, 70);
 }
 
 
 a[href] {
     color: #6a5a97;
 }
 
 a[href]:hover {
  color: #523d8a;
 }
 
.textoL{
     color: #685699;
 }

 aside,
 [class *="sidebar"],
 [id *="sidebar"] {
     max-width: 90%;
     margin: 0 auto;
     border: 3px solid rgb(35, 6, 70);
     padding: 5px 15px;
 }


 .btn-color-clear{
   color: rgba(255, 217, 0, 0.637);
   background-color: rgba(24, 23, 23, 0.616)
}

.btn-color-Reset{
   color: red;
   background-color: rgba(24, 23, 23, 0.616)
}

.btn-color-teclado{
   color: rgb(85, 5, 72);
   background-color: rgba(24, 23, 23, 0.616)
}
