<div id="modal-input" class="body-modal">
    <div class="modal-header">
        <h4 class="modal-title">Entre com Nome dos Jogadores:</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-3" id="playerOne">
                <label>P1 - O</label>
            </div>
            <div class="col-9" id="playerOne">
                <input type="text" [class]="validacao.dangerClass1()" id="p1" [(ngModel)]='validacao.Player1' required />
            </div>
        </div>
        <div class="row">
            <br>
        </div>
        <div class="row">
            <div class="col-3" id="playerOne">
                <label>P2 - X</label>
            </div>
            <div class="col-9" id="playerOne">
                <input type="text" [class]="validacao.dangerClass2()" id="p1" [(ngModel)]='validacao.Player2' required />
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-1 "></div>
        <div class="col-10" *ngIf="validacao.checaNomeInformados()">
            <button (click)="activeModal.dismiss('Cross click')" type="button" class="btn btn-success  btn-lg btn-block">Que os Jogos Comecem!!!</button>
        </div>

        <div class="col-1 "></div>
    </div>

</div>